@page
@model eShopWeb.Pages.KassenModel
@{
    decimal total = 0;
}
<h1 class="center-align teal-text">Velkommen til kassen</h1>
@if (Model.Kunden == null)
{
    <h3>For at fortsætte med dit køb kræver det at du er <a asp-page="Login">logget ind</a></h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>Billede</label>
                </th>
                <th>
                    <label>Produkt</label>
                </th>
                <th>
                    <label>Antal</label>
                </th>
                <th>
                    <label>Pris</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.vareKurv)
            {
                total += item.Pris * item.Styk;
                <tr>
                    <td>
                        <img style="max-height:100px" src="@item.ProduktFoto">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProduktNavn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Styk)
                    </td>
                    <td>
                        @(item.Pris * item.Styk)
                    </td>
                </tr>
            }
            <tr>
                <td>Total:</td>
                <td></td>
                <td></td>
                <td>@total kr</td>
            </tr>
        </tbody>

    </table>
    <a asp-page="./Index">Tilbage til forsiden</a>

}
