<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eShopWeb</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="teal lighten-5">
    <header>
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center" asp-area="" asp-page="/Index"><i class="large material-icons">sentiment_very_satisfied</i>eShopWeb</a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li>
                            <a class="text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a class="text-dark" asp-area="" asp-page="/ProduktCRUD/Index">Admin</a>
                        </li>
                        <mini-profiler />
                    </ul>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn valign-wrapper" asp-page="/Kassen"><i class="material-icons left">shopping_cart</i><vc:user></vc:user></a>
                            </div>
                        </li>
                    </ul>
            </div>
        </nav>
    </header>
        <div>
            <main role="main">
                @RenderBody()
            </main>
        </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - eShopWeb - <a asp-area="" asp-page="/ProduktCRUD">Admin</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
